body{
            margin: 0;
            padding: 0;
        }
        body:before{
            content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-image: url(../img/homeb-g.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
        }
		
	
.row img{
	border:1px solid #ddd;
		border-radius:4px;
		padding:5px;
		width:660px;
}


.card
{
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    border: .0625rem solid rgba(0, 0, 0, .05);
    border-radius: .25rem; 
    background-color: #fff;
    background-clip: border-box;
}
.card > hr
{
    margin-right: 0;
    margin-left: 0;
}
.card > .list-group:first-child .list-group-item:first-child
{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.card > .list-group:last-child .list-group-item:last-child
{
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
	
.card-lift--hover:hover
{
    transition: all .15s ease; 
    transform: translateY(-20px);
}

		